<?xml version="1.0"?>
<model>
  <name>jetacker</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Generated</name>
    <email>noreply@example.com</email>
  </author>

  <description>
    Jetacker robot with tricycle/parallel-link steering
  </description>
</model>
